*{
    margin: 0;
    padding: 0;
    border: 0; 
    text-decoration: none;
    vertical-align: baseline;
    font-family: sans-serif;   

}
img{
    max-width: 100%;
}
.header-container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    position: fixed;/*deixar header deixar fixo*/
    justify-content: center; /*dividir em espaços iguais*/
    align-items: center;
    background: #1e1e2a;
}
.header-container nav ul{
    width: 100%;
    display: flex; /*vai dividir em espaços iguais*/
    flex-direction: row; /*deixar em linha*/
    list-style: none;/*nenhum estilo*/
    align-items: center;  
}
.header-container nav li a {
    margin: 0 50px;
    color: #ffff;
}
.sobre{
    text-align: left;
    
}
section{
    width: 100% 1000px;
    height: 100vh;
    text-align: center;
    padding: 100px 0;    
    color: #ffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1e1e2a;    
}

/*estilizando a primeira as sections*/
section:nth-of-type(1){
    background-image: url(./img/imagem\ 1.jpg);
}
/*Estilizando o Flexbox*/
.flex{
    display: flex;
    flex-wrap: wrap;/*dividir em espaços iguais*/
    max-width: auto;
    margin: 0 auto;
    
}
.flex > div{
    flex: 1 1 200px;/*tamanho das imagens*/
    margin: 10px;

}
