*{
    margin: 0;
    padding: 0;
    border: 0; 
    text-decoration: none;
    vertical-align: baseline;
    font-family: sans-serif;   

}
.header-container{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center; /*dividir em espaços iguais*/
    align-items: center;
    background: #1e1e2a;
}
.header-container nav ul{
    width: 100%;
    display: flex; /*vai dividir em espaços iguais*/
    flex-direction: row; /*deixar em linha*/
    list-style: none;/*nenhum estilo*/
    align-items: center;  
}
.header-container nav li a {
    margin: 0 50px;
    color: #ffff;
}
section{
    width: 100% 1000px;
    height: 100vh;
    text-align: center;
    padding: 100px 0;    
    color: rgb(20,20,20);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1{
    margin-bottom: 20px;
}
/*estilizando a primeira as sections*/
section:nth-of-type(1){
    background-image: url(./img/imagem\ 1.jpg);
}
